<style>
  body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  #altitude {
    position: absolute;
    bottom: 2%;
    right: 52%;
    width: 25%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    color: #000000;
    background: #aed6f1;
  }

  #points {
    position: absolute;
    bottom: 2%;
    left: 52%;
    width: 25%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    color: #000000;
    background: #ffd5e5;
  }
</style>
